@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


:root {
  font-family: Nunito, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text);
  background-color: var(--background);

  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text: #e7e2f8;
  --background: #04030c;
  --primary: #ffba3a;
  --secondary: #4f53d3;
  --secondary-light: #6368f8;
  --accent: #ee4f54;

}

header {
  display: flex;
  width: auto;
  padding: 0.2em 2em;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  height: 100vh;
  background: linear-gradient(350deg, rgba(88,22,255,0.6) 0%, rgba(4,3,12,0) 60%);;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--secondary);
  color: var(--text);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: var(--secondary-light);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:disabled {
  color: gray;
}

input {
  border-radius: 8px;
  border: 2px solid var(--secondary);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
}

#root {
  width: 100%;
}

.main-section {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#selection_div {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.options-container {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.form-step {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

#logo {
  height: 80px;
}

.custom-animated-button {
  background-color: var(--secondary);
}

.hover-color-shift {
  animation: color-shift 3s linear forwards;
  background-image: linear-gradient(to right, var(--secondary), var(--accent));
  background-size: 200%; /* Ensure gradient covers the entire button */
  background-position: 0%; /* Start with initial color at the beginning */
}

@keyframes color-shift {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: -100%; /* Move gradient to show final color */
  }
}

.loading-indicator {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}
